USE [master]
GO
/****** Object:  Database [EmployeeDB]    Script Date: 03-05-2020 02:24:58 PM ******/
CREATE DATABASE [EmployeeDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeeDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\EmployeeDB.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EmployeeDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\EmployeeDB_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeeDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeeDB]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 03-05-2020 02:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employee](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Age] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  StoredProcedure [dbo].[DeleteEmployee]    Script Date: 03-05-2020 02:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Vasim Pathan
-- Create date: 02/05/2020
-- Description:	Get Employee by Id
-- =============================================
create procedure [dbo].[DeleteEmployee]    
(    
	@EmployeeId int
)    
As    
BEGIN    
    
DELETE FROM Employee where EmployeeId = @EmployeeId
  
END   

GO
/****** Object:  StoredProcedure [dbo].[GetEmployeeByID]    Script Date: 03-05-2020 02:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Vasim Pathan
-- Create date: 02/05/2020
-- Description:	Get Employee by Id
-- =============================================
Create procedure [dbo].[GetEmployeeByID]   
@Id int 
AS    
BEGIN    
     SELECT * FROM Employee where EmployeeId = @Id   
END 

GO
/****** Object:  StoredProcedure [dbo].[GetEmployeeList]    Script Date: 03-05-2020 02:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Vasim Pathan
-- Create date: 02/05/2020
-- Description:	Get List of Employee
-- =============================================
Create procedure [dbo].[GetEmployeeList]    
AS    
BEGIN    
     SELECT * FROM Employee    
END 

GO
/****** Object:  StoredProcedure [dbo].[InsertEmployee]    Script Date: 03-05-2020 02:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Vasim Pathan
-- Create date: 02/05/2020
-- Description:	Get Employee by Id
-- =============================================
create procedure [dbo].[InsertEmployee]    
(    
    @FirstName varchar(50),    
    @LastName varchar(50),    
    @Email varchar(50),    
    @Age int    
)    
As    
BEGIN    
    
INSERT INTO [dbo].[Employee]
           ([FirstName]
           ,[LastName]
           ,[Email]
           ,[Age])
     VALUES
           (
				@FirstName,
				@LastName,
				@Email,
				@Age
		   )
  
END   

GO
/****** Object:  StoredProcedure [dbo].[UpdateEmployee]    Script Date: 03-05-2020 02:24:58 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Vasim Pathan
-- Create date: 02/05/2020
-- Description:	Get Employee by Id
-- =============================================
create procedure [dbo].[UpdateEmployee]    
(    
	@EmployeeId int,
    @FirstName varchar(50),    
    @LastName varchar(50),    
    @Email varchar(50),    
    @Age int    
)    
As    
BEGIN    
    
UPDATE [dbo].[Employee]
   SET [FirstName] = @FirstName
      ,[LastName] =  @LastName
      ,[Email] = @Email
      ,[Age] = @Age
 WHERE EmployeeId = @EmployeeId
  
END   

GO
USE [master]
GO
